# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/public/C1.mp4
/public/C2.mp4
/public/C3.mp4
/public/C4.mp4
/public/C5.mp4
/public/C6.mp4
/public/C7.mp4
/public/C8.mp4
/public/dota.png
/public/BuyPage.png